/* Add your user site custom css in this file. */

@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400i');

body {
  font-family: 'Sorts Mill Goudy', serif;
  background: white;
}

body #feed .entry .portal, body #portal #profile .name, body #feed .entry .message a {
  font-family: 'Sorts Mill Goudy', serif;
  font-style: italic;
  color: lightgray;
}

body #portal #activity > * {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 20px;
}

body #portal #activity unit {
  font-size: 10px;
}

body #portal #profile .name {
  line-height: 20px;
}

body #operator {
  background: white;
  color: black;
}

body #operator textarea {
  font-family: 'Sorts Mill Goudy';
  font-size: 10pt
}
